@font-face {
    font-family: 'WorkSans';
    src: url("assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
}

:root {
    /* COLORS */
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    /* FONT */
    --ff-work-sans: 'WorkSans';
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}
/* prevent iOS font size change */
html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--ff-work-sans);
    color: var(--Dark-purple);
    min-height: 100vh;
    font-size: 16px;
    line-height: 1;
    text-rendering: optimizeSpeed;
    background-color: var(--Light-pink);
}

h1, h2, h3, h4 {
    font-weight: inherit;
}


ul {
    list-style: none;
}

input, button {
    font-size: inherit;
    line-height: inherit;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: inherit;
}

button {
    text-align: inherit;
    font: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

main {
    width:100%;
    background-image: url('assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
}

section {
    margin: 10em auto 2em;
    /* place-self:center; */
    padding: 1em;
    width: min(90%, 550px);
    background-color: var(--White);
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: var(--fw-bold);
    gap: 1em;
}

.header img {
    width: 1.2em;
}

li:not(:nth-of-type(4)) {
    border-bottom: 2px solid var(--Light-pink);
}

details {
    padding: 1.4em 0;
}

details[open] summary{
    color: var(--Dark-purple);
}


details[open] summary img{
    content: url("./assets/images/icon-minus.svg");
}

summary {
    width: 100%;
    color: var(--Dark-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1em;
    font-weight: var(--fw-semi-bold);
}

summary span {
    width: 70%;
}

summary:hover, summary:active{
    color:var(--Grayish-purple);
    font-weight: var(--fw-bold);
    cursor: pointer;
}


.plus {
    width: 1.5em;
}

.answer {
    color: var(--Grayish-purple);
    line-height: 1.4;
    padding: 1.4em 0 0;
    font-size: 15px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
    main {
        background-image: url('assets/images/background-pattern-desktop.svg');
    }
    section {
        margin: 12em auto 2em;
        padding: 2em 2em 1em;
    }
    summary span {
        width: 95%;
    }
}